<footer class="bg-[#36A446] text-white py-6 text-center mt-16">
  <p class="text-sm">
    &copy; {new Date().getFullYear()} Clínica Veterinaria <strong
      >Nombre Veterinaria</strong
    >. Todos los derechos reservados. 🐾
  </p>
  <p class="text-xs mt-1">"Cuidamos a tus mascotas con amor y dedicación."</p>
</footer>
