---
import Button from "./Button.astro";
---

<header class="w-full fixed z-20 bg-[#fff]">
  <div class="m-auto p-4 h-[88px] w-[1120px]">
    <div class="flex flex-row gap-28 w-full items-center">
      <a
        class="hover:cursor-pointer w-72 flex flex-row overflow-auto items-center gap-2"
        href="#top"
      >
        <img
          src="Logos/ImagenLogo.webp"
          alt="Logo de la veterinaria"
          class="h-14 w-14"
        />
        <h3 class="w-full text-center text-base font-semibold">Eslogan</h3>
      </a>

      <nav class="flex justify-between w-full text-sm font-medium">
        <a class="hover-underline-animation hover:text-gray-700" href="#top"
          >Inicio</a
        >
        <a
          class="hover-underline-animation hover:text-gray-700"
          href="#servicios">Servicios</a
        >
        <a
          class="hover-underline-animation hover:text-gray-700"
          href="#contactanos">Contáctanos</a
        >
        <a
          class="hover-underline-animation hover:text-gray-700"
          href="#nuestro_equipo">Nuestro Equipo</a
        >
      </nav>
      <Button href={""} text="Agendar Cita" />
    </div>
  </div>
</header>
<style>
  .hover-underline-animation {
    display: inline-block;
    position: relative;
  }

  .hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #36a446;
    transform-origin: bottom right;
    transition: transform 0.33s ease-out;
  }

  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
</style>
